@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
